spring:
  application:
    name: order-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3316/orders}
    username: ${SPRING_DATASOURCE_USERNAME:order_user}
    password: ${SPRING_DATASOURCE_PASSWORD:order_pass}
  jpa:
    hibernate:
      ddl-auto: none
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      acks: all
      retries: 10
      enable-idempotence: true
      properties:
        interceptor.classes: com.rv.microservices.order.config.kafka.KafkaTracingProducerInterceptor
        schema.registry.url: http://schema-registry:8081
        specific.avro.reader: true
        linger.ms: 5
        batch.size: 32768
  cloud:
    openfeign:
      client:
        config:
          inventory:
            connect-timeout: 3000
            read-timeout: 3000

inventory:
  url: http://inventory-service:8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs

# Cashfree Payment Gateway Properties
cashfree:
  client-id: ${CASHFREE_CLIENT_ID:TEST1096465358898c8811db812cf11135646901}
  client-secret: ${CASHFREE_CLIENT_SECRET:cfsk_ma_test_ae7c9d2aecb3d88f1a55ce6a67a4a8a4_905842f3}
  base-url: ${CASHFREE_BASE_URL:https://sandbox.cashfree.com/pg}
  api-version: ${CASHFREE_API_VERSION:2025-01-01}

# Actuator Endpoint Properties
management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  health:
    circuitbreakers:
      enabled: true
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: order-service
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  observations:
    key-values:
      application: order-service

# Resilience4j Properties
resilience4j:
  circuitbreaker:
    instances:
      inventory:
        registerHealthIndicator: true
        event-consumer-buffer-size: 10
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        minimum-number-of-calls: 5
  retry:
    instances:
      inventory:
        max-attempts: 3
        wait-duration: 5s

logging:
  pattern:
    level: "trace_id=%mdc{trace_id} span_id=%mdc{span_id} trace_flags=%mdc{trace_flags} %p"
  level:
    com.rv.microservices: DEBUG
    org.springframework.cloud.openfeign: DEBUG
    feign.Logger: DEBUG

feign:
  client:
    config:
      default:
        loggerLevel: FULL
#
#server:
#  port: 8088