spring:
  application:
    name: inventory-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://inventory-db:3306/inventory}
    username: ${SPRING_DATASOURCE_USERNAME:inv_user}
    password: ${SPRING_DATASOURCE_PASSWORD:inv_pass}
  jpa:
    hibernate:
      ddl-auto: none

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: inventory-service
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  observations:
    key-values:
      application: inventory-service

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs

logging:
  pattern:
    level: "trace_id=%mdc{trace_id} span_id=%mdc{span_id} trace_flags=%mdc{trace_flags} %p"
  level:
    org.springframework.boot.autoconfigure.flyway: TRACE
    org.flywaydb: DEBUG
    com.rv.microservices: DEBUG    